@font-face {
    font-family: "AmsiPro-Black";
    src: url("../../TTF/AmsiPro-Black.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-BlackItalic";
    src: url("../../TTF/AmsiPro-BlackItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-Bold";
    src: url("../../TTF/AmsiPro-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-BoldItalic";
    src: url("../../TTF/AmsiPro-BoldItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-Italic";
    src: url("../../TTF/AmsiPro-Italic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-Light";
    src: url("../../TTF/AmsiPro-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-LightItalic";
    src: url("../../TTF/AmsiPro-LightItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-Regular";
    src: url("../../TTF/AmsiPro-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-SemiBold";
    src: url("../../TTF/AmsiPro-SemiBold.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-SemiBoldItalic";
    src: url("../../TTF/AmsiPro-SemiBoldItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-Ultra";
    src: url("../../TTF/AmsiPro-Ultra.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-UltraItalic";
    src: url("../../TTF/AmsiPro-UltraItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-XLight";
    src: url("../../TTF/AmsiPro-XLight.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiPro-XLightItalic";
    src: url("../../TTF/AmsiPro-XLightItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-Black";
    src: url("../../TTF/AmsiProCond-Black.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-BlackItalic";
    src: url("../../TTF/AmsiProCond-BlackItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-Bold";
    src: url("../../TTF/AmsiProCond-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-BoldItalic";
    src: url("../../TTF/AmsiProCond-BoldItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-Italic";
    src: url("../../TTF/AmsiProCond-Italic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-Light";
    src: url("../../TTF/AmsiProCond-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-LightItalic";
    src: url("../../TTF/AmsiProCond-LightItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-Regular";
    src: url("../../TTF/AmsiProCond-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-SemiBold";
    src: url("../../TTF/AmsiProCond-SemiBold.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-SemiBoldItalic";
    src: url("../../TTF/AmsiProCond-SemiBoldItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-Thin";
    src: url("../../TTF/AmsiProCond-Thin.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-ThinItalic";
    src: url("../../TTF/AmsiProCond-ThinItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-Ultra";
    src: url("../../TTF/AmsiProCond-Ultra.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-UltraItalic";
    src: url("../../TTF/AmsiProCond-UltraItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-XLight";
    src: url("../../TTF/AmsiProCond-XLight.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProCond-XLightItalic";
    src: url("../../TTF/AmsiProCond-XLightItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-Black";
    src: url("../../TTF/AmsiProNarw-Black.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-BlackItalic";
    src: url("../../TTF/AmsiProNarw-BlackItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-Bold";
    src: url("../../TTF/AmsiProNarw-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-BoldItalic";
    src: url("../../TTF/AmsiProNarw-BoldItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-Italic";
    src: url("../../TTF/AmsiProNarw-Italic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-Light";
    src: url("../../TTF/AmsiProNarw-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-LightItalic";
    src: url("../../TTF/AmsiProNarw-LightItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-Regular";
    src: url("../../TTF/AmsiProNarw-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-SemiBold";
    src: url("../../TTF/AmsiProNarw-SemiBold.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-SemiBoldItalic";
    src: url("../../TTF/AmsiProNarw-SemiBoldItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-Thin";
    src: url("../../TTF/AmsiProNarw-Thin.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-ThinItalic";
    src: url("../../TTF/AmsiProNarw-ThinItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-Ultra";
    src: url("../../TTF/AmsiProNarw-Ultra.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-UltraItalic";
    src: url("../../TTF/AmsiProNarw-UltraItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-XLight";
    src: url("../../TTF/AmsiProNarw-XLight.ttf");
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "AmsiProNarw-XLightItalic";
    src: url("../../TTF/AmsiProNarw-XLightItalic.ttf");
    font-style: normal;
    font-display: fallback;
}
